<html><head>

    <meta http-equiv="refresh" content="0; url=https://www.frills.de/{{ renderData.url }}">

    <meta charset="utf-8">
    <title>frills | {{ renderData.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We are an artist agency based in Berlin. We are different from the rest. DJ, booking, management, artist development, music marketing, recorded music, agency, techno, house, electronic music">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="robots" content="index,follow" />

    <meta property="og:title" content="frills" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://frills.netlify.app" />
    <meta property="og:image" content="https://frills.netlify.app/assets/social/facebook-1200x630.jpg" />
    <meta property="og:site_name" content="Frills" />
    <meta property="og:description" content="We are an artist agency based in Berlin. We are different from the rest. DJ, booking, management, artist development, music marketing, recorded music, agency, techno, house, electronic music" />


    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="website" />
    <meta property="twitter:title" content="frills" />
    <meta property="twitter:description" content="We are an artist agency based in Berlin. We are different from the rest. DJ, booking, management, artist development, music marketing, recorded music, agency, techno, house, electronic music" />
    <meta property="twitter:image" content="https://frills.netlify.app/assets/social/twitter-600x330.jpg" />


    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#000000">
</head>

<body>
  {{ content | safe }}
</body>