<header id="Header">
    <div class="header__logo">
        <h1 class="title">
            <a href="#frills">
                Frills
                <svg viewBox="0 0 132 90" aria-label="BDCC">
                    <use xlink:href="/assets/svg/svg.svg#logo"></use>
                </svg>
            </a>
        </h1>
        <div class="line">
            <div class="svg-holder __lineLogo">
                <svg x="0px" y="0px" preserveAspectRatio="none" viewBox="0 0 132 90" width="132" height="90">
                    <path class="st0" d="M0,90h132v-4.6H0V90z"/>
                </svg>
            </div>
        </div>
    </div>

    <div class="header__left">
        <button class="header__btn-sidemenu --hide-artists" data-toggle-sidemenu>
            <div class="bg"></div>
            <svg viewBox="0 0 30 30" aria-hidden="true">
                <use xlink:href="/assets/svg/svg.svg#icon__cross"></use>
            </svg>
        </button>

        <div class="header__scrollbar  --hide-artists">
            <div class="carrusel-text __interface-title">
                <div class="carrusel-text__holder">
                    <span class="__slide">OUR CODEX</span>
                    <span class="__slide">WHAT IS FRILLS</span>
                    <span class="__slide">OUR SERVICES</span>
                    <span class="__slide">OUR PRINCIPLES</span>
                    <span class="__slide">OUR CREW</span>
                    <span class="__slide">CONTACT</span>
                </div>
            </div>

            <span class="time __progress-scroll">99:11:99</span>

            <div class="holder-bars" id="Scrollbar" data-axis-x>
                <span class="track"></span>
                <span class="thumb"></span>
            </div>
        </div>
    </div>


    <ul class="header__right" aria-label="Social Media">
        <li class="--hide-artists">
            <a class="social-link" href="https://www.instagram.com/frills.de/" target="_blank" rel="nofollow">Ig</a>
        </li>
        <li class="--hide-artists">
            <a class="social-link" href="https://www.facebook.com/frills.de" target="_blank" rel="nofollow">Fb</a>
        </li>
        <li class="--hide-artists">
            <a class="social-link" href="https://twitter.com/frillsberlin" target="_blank" rel="nofollow">Tw</a>
        </li>

        <li class="--hide-artists">
            <a class="newsletter-link" href="#newsletter">
                <svg viewBox="0 0 30 30" aria-hidden="true">
                    <use xlink:href="./assets/svg/svg.svg#icon__plane"></use>
                </svg>

                <div class="text">
                    Stay connected
                </div>
            </a>
        </li>
        <li class="--hide-artists">
            <a class="artists-link" href="/artists">
                <div class="text">
                    Artists
                </div>
            </a>
        </li>
        <li class="--show-artists">
            <a class="artists-link --mobile --invert" href="https://one.systemonesoftware.com/webform.aspx?key=8a66c183bc47429e982b7c58c859dc7c" target="_blank">
                <div class="text">
                    BOOKING REQUEST
                </div>
            </a>

            <button class="artists-link __putoBotonBooking --desktop  --invert" data-internal data-src="https://one.systemonesoftware.com/webform.aspx?key=8a66c183bc47429e982b7c58c859dc7c">
                <div class="text">
                    BOOKING REQUEST
                </div>
            </button>
        </li>
        <li class="--show-artists">
            <a class="artists-link" href="/">
                <div class="text">
                    Home
                </div>
            </a>
        </li>
    </ul>
</header>
