<nav id="Sidemenu" class="header__menu">
    <ul class="sidemenu__ul">
        <li>
            <a class="__sidemenu-link" href="#our-codex"><span class="text">OUR CODEX</span><span class="time __our-codex__time">02:20</span></a>
        </li>
        <li>
            <a class="__sidemenu-link" href="#what-is-frills"><span class="text">WHAT IS FRILLS</span><span class="time __what-is-frills__time">02:20</span></a>
        </li>
        <li>
            <a class="__sidemenu-link" href="#our-services"><span class="text">OUR SERVICES</span><span class="time __our-services__time">02:20</span></a>
        </li>
        <li>
            <a class="__sidemenu-link" href="#our-principles"><span class="text">OUR PRINCIPLES</span><span class="time __our-principles__time">02:20</span></a>
        </li>
        <li>
            <a class="__sidemenu-link" href="#our-team"><span class="text">OUR CREW</span><span class="time __our-team__time">02:20</span></a>
        </li>
        <li>
            <a class="__sidemenu-link" href="#contact"><span class="text">CONTACT</span><span class="time __contact__time">02:20</span></a>
        </li>
        <li class="artist-link-holder">
            <a class="__sidemenu-link" href="/artists"><span class="text">ARTISTS</span></a>
        </li>
    </ul>

    <ul class="sidemenu__social" aria-label="Social Media">        
        <li>
            <a class="social-link" href="https://www.instagram.com/frills.de/" target="_blank" rel="nofollow">Ig</a>
        </li>
        <li>
            <a class="social-link" href="https://www.facebook.com/frills.de" target="_blank" rel="nofollow">Fb</a>
        </li>
        <li>
            <a class="social-link" href="https://twitter.com/frillsberlin" target="_blank" rel="nofollow">Tw</a>
        </li>


        <li>
            <a class="newsletter-link" href="#newsletter">
                <svg viewBox="0 0 30 30" aria-hidden="true">
                    <use xlink:href="./assets/svg/svg.svg#icon__plane"></use>
                </svg>

                <div class="text">
                    Stay connected
                </div>
            </a>
        </li>
    </ul>

    <div class="bg __sidemenu-bg"></div>
</nav>
